
.ima
{
    text-align: top;
    width: 700px;
    height:400px;
    /* bottom: 1200px;
  margin-bottom: 1700px;
    margin-left: 1000px; */
    float: right;    
 margin: 0 0 0 15px;
}
.primary
{   width:1400px;
   margin-left: 50px;
}